.debateProfile{
    margin: auto;
    margin-top: 10%;
    width: 70%;
}

.debateProfileImg {
    width: 80px;
    height: 80px;
    border-radius:4px;
}

.debateProfileHeader {
    display: flex;
}

.buttons{
    margin-left:auto;
    border-radius: 4px;
    gap: 8px;
    display: flex;
}

.shareButton {
    width: 120px;
    height: 64px;
    border-radius: 4px;
    font: 'Inter';
    font-weight: 600;
    font-size: 17px;
    border:none;
    line-height: 24px;
}

.pledgeButton {
    width: 172px;
    height: 64px;
    border-radius: 4px;
    font: 'Inter';
    font-weight: 600;
    font-size: 17px;
    border:none;
    line-height: 24px;
    color: white;
    background-color: black;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

.debateParticipants {
    margin: 5% auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.centeredText {
    text-align: center;
}

.participantSection {
    display:block;
}

.participantImg{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}