.login {
    width: fit-content;
    height: 44px;
    color: white;
    font:'Inter';
    font-weight:600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    margin: 24px auto 24px auto;
} 

.popup {
    position: fixed;
    justify-content: center;
    align-items: center;
}